* {
    font-family: 'Hubballi', cursive;  
    color: darkslategray;
}

body {
    margin: 0;
    background-color: rgb(2, 150, 90);
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculadora {
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: repeat(5, 50px);
    padding: 10px;
    background-color: aquamarine;
    border-radius: 15px;
    align-items: center;
}

button{
    cursor: pointer;
    padding: 0%;
    border-radius: 15px;
}